concrete_flow.json
[{"id":"44601c2d.3ecba4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fcecd5b2.7732d8","type":"inject","z":"44601c2d.3ecba4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["cb239888.d7d238"]]},{"id":"cb239888.d7d238","type":"function","z":"44601c2d.3ecba4","name":"PreToken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"cement\",msg.payload.cement)\nglobal.set(\"slag\",msg.payload.slag)\nglobal.set(\"ash\",msg.payload.ash)\nglobal.set(\"water\",msg.payload.water)\nglobal.set(\"plasticizer\",msg.payload.plasticizer)\nglobal.set(\"coarse\",msg.payload.coarse)\nglobal.set(\"fine\",msg.payload.fine)\nvar apikey=\"cFbck8WLXg-sjNGbyz73u1CmRuDy3uGeACkXWMr9XZpq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["a7d92b20.852268","fa91fa6f.5988d8"]]},{"id":"a7d92b20.852268","type":"http request","z":"44601c2d.3ecba4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":220,"wires":[["7e675bde.9e5a84","76077307.6f0b1c"]]},{"id":"36b058b5.5f0a38","type":"debug","z":"44601c2d.3ecba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":420,"wires":[]},{"id":"7e675bde.9e5a84","type":"function","z":"44601c2d.3ecba4","name":"Pre Prediction","func":"var age = global.get('age')\nvar cement = global.get('cement')\nvar fine = global.get('fine')\nvar ash = global.get('ash')\nvar water = global.get('water')\nvar coarse = global.get('coarse')\nvar slag = global.get('slag')\nvar plasticizer = global.get('plasticizer')\nvar token=msg.payload.access_token\nvar instance_id=\"01dc6a4c-03d3-4308-b877-45b85703f1d0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"cement\",\"fine\",\"water\",\"ash\",\"slag\",\"plasticizer\",\"age\",\"coarse\"], \"values\": [[cement,fine,water,ash,slag,plasticizer,age,coarse]]}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["778eb67f.3b9408","1535edaa.4b52d2"]]},{"id":"778eb67f.3b9408","type":"http request","z":"44601c2d.3ecba4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/01dc6a4c-03d3-4308-b877-45b85703f1d0/deployments/e49e8591-505f-4249-8bc4-e2b1f099fee2/online","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":140,"wires":[["55cccfb5.40fc7"]]},{"id":"3411dc7c.bc5884","type":"ui_form","z":"44601c2d.3ecba4","name":"","label":"","group":"2080de2d.b25802","order":0,"width":0,"height":0,"options":[{"label":"Enter the cement content","value":"cement","type":"number","required":true,"rows":null},{"label":"Enter the Blast Furnace Slag ","value":"slag","type":"number","required":true,"rows":null},{"label":"Enter the Fly Ash","value":"ash","type":"number","required":true,"rows":null},{"label":"Enter the water component","value":"water","type":"number","required":true,"rows":null},{"label":"Enter the Superplasticizer","value":"plasticizer","type":"number","required":true,"rows":null},{"label":"Enter the Coarse Aggregate","value":"coarse","type":"number","required":true,"rows":null},{"label":"Enter the Fine Aggregate","value":"fine","type":"number","required":true,"rows":null},{"label":"Enter the age(days)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cement":"","slag":"","ash":"","water":"","plasticizer":"","coarse":"","fine":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["cb239888.d7d238"]]},{"id":"f65884e2.09a378","type":"ui_text","z":"44601c2d.3ecba4","group":"2080de2d.b25802","order":3,"width":0,"height":0,"name":"","label":"value ","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":400,"wires":[]},{"id":"76077307.6f0b1c","type":"debug","z":"44601c2d.3ecba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":460,"wires":[]},{"id":"fa91fa6f.5988d8","type":"debug","z":"44601c2d.3ecba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":60,"wires":[]},{"id":"1535edaa.4b52d2","type":"debug","z":"44601c2d.3ecba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"55cccfb5.40fc7","type":"function","z":"44601c2d.3ecba4","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["36b058b5.5f0a38","f65884e2.09a378"]]},{"id":"2080de2d.b25802","type":"ui_group","z":"","name":"concrete strength","tab":"14a15a8b.9734e5","disp":true,"width":"6","collapse":false},{"id":"14a15a8b.9734e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]